# Ignore all files by default
/*

# The repo files
!.gitignore
!README.md

# But include these config directories and their contents
!/zathura/
!/terminator/
!/rofi/
!/kitty/
!/htop/
!/alacritty/
!/neofetch/
!/starship.toml
# Include only the rc.conf file within the ranger directory
!/ranger/
/ranger/*
!/ranger/rc.conf

# Include the directory for the program that converts English to Hebrew
!/us_to_il/

